node_modules
vendor
.git
.env
storage/*.key
frontend/node_modules
frontend/dist
public/storage
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
.phpunit.result.cache
docker-compose.yml
Dockerfile*
README*.md
INSTRUCTIONS.md
